<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coolweather.editvedio">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ZApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_video"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity android:name=".videoTrimmer.VideoTrimmerActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".photo.PhotoMerge2Activity" />
        <activity android:name=".photo.PhotoMergeActivity" />
        <activity android:name=".photo.CutPhotoActivity" />
        <activity android:name=".videoMerge.MergeActivity" />
        <activity android:name=".videoEdit.EditActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>